In [ ]:
""""Task1:

Li1 = [2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]


5
56
222
50000
put
5555
7777
666
89
on
333
3333""""

In [48]:
list1=[2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]
print(list1[3])
print(list1[4][1])
print(list1[4][4][1])
print(list1[4][4][3][2][1])
list1[4][4][2]=5555
print(list1[4][4][2])
print(list1[4][4][3][4])
list1[4][4][3][1]=7777

5
56
222
50000
5555
7777

Task2


a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]

Extract
#science
#computer

In [51]:
a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]
print(a[4][3][0:8])
print(a[4][3][9:])

Computer
science

Task3
a = [1,2,3,4,[101,102,103,[201,202,[999]], 666, 777]]

Extract
#666
#201
#102
#999
#777

In [73]:
a = [1,2,3,4,[101,102,103,[201,202,[999]], 666, 777]]
print(a[4][4])
print(a[4][3][0])
print(a[4][1])
print(a[4][3][2][0])
print(a[4][5])

666
201
102
999
777

Task4:

Li1 = [2,3,"python","hello",4,5,0]  

Extract
#ll
#thon

In [77]:
list1=[2,3,"python","hello",4,5,0]
print(list1[2][2:])
print(list1[3][2:4])

thon
ll

In [81]:
#Task5
Li1 = [1,2,3,4,5,[11,22,33,44,55,[111,222,333,444],6666,7777],77778]

#Output Prediction 

print(Li1[5][0])
print(Li1[5][6])
print(Li1[5][-2])
print(Li1[5][7])
print(Li1[6])
print(Li1[5][5][1])

print(Li1[-2][-1])


print(Li1[-2][2:4])

11
6666
6666
7777
77778
222
7777
[33, 44]

Task6:

a = {1: [1,2,3,"python"], 2:{10:"hello",20:"welcome",40: "science"}, 99: {3,4,5,6}, 40:{1:"zoology", 2:"Botany"}}


#py
#ello
#en
#zoo
#Bot

In [92]:
a={1:[1,2,3,"python"], 2:{10:"hello",20:"welcome",40: "science"}, 99: {3,4,5,6}, 40:{1:"zoology", 2:"Botany"}}
print(a[1][3][0:2])
print(a[2][10][1:])
print(a[2][40][3:5])
print(a[40][1][0:3])
print(a[40][2][0:3])
print(a)

py
ello
en
zoo
Bot

{1: [1, 2, 3, 'python'],
 2: {10: 'hello', 20: 'welcome', 40: 'science'},
 99: {3, 4, 5, 6},
 40: {1: 'zoology', 2: 'Botany'}}

Task7:

Covert below two lists in to a dictionary

[1,2,3,4,5]
["python","cpp","c","java","php"]

In [94]:
keys=[1,2,3,4,5]
values=["python","cpp","c","java","php"]
dict1=dict(zip(keys,values))
print(dict1)

{1: 'python', 2: 'cpp', 3: 'c', 4: 'java', 5: 'php'}

Task8:

Convert below set in to a list

{5,4,3,6,2,7,1}

In [97]:
set1={5,4,3,6,2,7,1}
set1=list(set1)
print(set1)

[1, 2, 3, 4, 5, 6, 7]

Task9:

Remove duplicates from below list

[5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]

In [100]:
list1=[5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]
list1=list(set(list1))
print(list1)

[1, 2, 3, 4, 5, 6, 7]

Task10:

Convert below one to tuple

[5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]

In [107]:
list1=[5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]
list1=tuple(list1)
print(list1,type(list1))

(5, 4, 3, 6, 2, 7, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 5) <class 'tuple'>