In [2]:
def studMarks(marks):
    sum_marks=sum(marks)
    total_sub=len(marks)
    average=sum_marks/total_sub
    return average
marks=[80,95,88,75,68]
average=studMarks(marks)
print("The average of the marks is",average)

The average of the marks is 81.2

In [13]:
def studMarks(marks):
    sum_marks=sum(marks)
    total_sub=len(marks)
    average=sum_marks/total_sub
    return average

def grade_marks(average_marks):
    if average > 90 and average<100:
        grade="A"
    elif average >80 and average< 90:
        grade="B"
    elif average >70 and average< 80:
        grade="C"
    elif average >60 and average< 70:
        grade="D"
    elif average >50 and average< 60:
        grade="E"
    else:
        grade="Fail"
    return grade
marks=[80,95,88,75,68]
average=studMarks(marks)
print("The average of the marks is",average)
grade=grade_marks(average)
print("Grade of marks is",grade)

The average of the marks is 81.2
Grade of marks is B

In [15]:
def average_marks(marks):
    sum_marks=sum(marks)
    tot_sub=len(marks)
    average=sum_marks/tot_sub
    return average
def grad_marks(grade):
    if average>90 and average<100:
        garade="A"
    elif average>80 and average<90:
        grade="B"
        return grade
marks=[80,90,78,98,85,96]
average=average_marks(marks)
print("average is",average)
grade=grad_marks(grade)
print("grade is",grade)

average is 87.83333333333333
grade is B

In [5]:
def add_num(a,b):
    return a+b
def mul_num(a,b):
    return a*b
num1=int(input())
num2=int(input())
print("sum is",add_num(num1,num2))
print("multiplication of two nos",mul_num(num1,num2))

5
12
sum is 17
multiplication of two nos 60

In [3]:
def sample():
    print("Hello")
    print("Gowda")
sample()
sample()
def greet(name):
    print("Hello",name)
    print("Welcome to kolar")
greet("Gowda")

Hello
Gowda
Hello
Gowda
Hello Gowda
Welcome to kolar

In [4]:
def addition(a,b):
    add=a+b
    return add
add=addition(10,20)
print(add)

30

In [5]:
# capitalize
def solve(s):
    for i in s.split():
        s=s.replace(i,i.capitalize())
    return s
s=input()
s=solve(s)
print(s)

1 we
1 We

In [12]:
#prime number
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

In [20]:
min=int(input())
max=int(input())
for num in range(min,max+1):
    count=0
    for i in range(2,num//i+1):
        if (num%i==0):
            count +=1
            break
    if(count==0 and num!=1):
        print("%d"%num,end=' ')
    elif(count==1 and num==1):
        print("%d"%num,end=' ')

10
150
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149

In [28]:
#Prime nos between 2 nos

min=int(input())
max=int(input())
for num in range(min,max+1):
    count=0
    for i in range(2,num//i+1):
        if (num%i==0):
            count +=1
            break
    if(count==0 and num!=1):
        print("%d"%num,end=' ')

10
20
11 13 17 19

In [32]:
#prime or not
num=int(input())
if num>1:
    for i in range(2,num):
        if (num%i)==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

10
10 is not a prime number

In [42]:
def concatStr(s1,s2,s3):
    concat=s1+s2+s3
    print("Concatenation of 3 strings are:",concat)
concatStr("Kolar","Byre","Gowda")

Concatenation of 3 strings are: KolarByreGowda

In [49]:
str1="gowda"
strLen=len(str1)
midind=strLen//2
strmid=str1[midind]
print(strmid)

w

In [54]:
string=input()
strRev=string[::-1]
if string==strRev:
    print("String is palindrome")
else:
    print("Not a palindrome")

gowda
Not a palindrome